polkit.addRule(function(action, subject) {
  var allowed = [
    "org.freedesktop.udisks2.filesystem-mount",
    "org.freedesktop.udisks2.filesystem-mount-system",
    "org.freedesktop.udisks2.filesystem-unmount-others",
    "org.freedesktop.udisks2.power-off-drive",
    "org.freedesktop.udisks2.eject-media"
  ];

  if (allowed.indexOf(action.id) >= 0 &&
      subject.isInGroup("storage") &&
      subject.active) {
    return polkit.Result.YES;
  }
});
