[Desktop Entry]
Type=Application
Name=Actualizar música
GenericName=Actualizar biblioteca MPD
Comment=Actualiza la biblioteca local de MPD
Exec=music-update
Terminal=false
Categories=Audio;AudioVideo;
Keywords=music;mpd;update;musica;
