[Desktop Entry]
Type=Application
Name=ncmpcpp
GenericName=Music Player
Comment=Cliente de MPD en terminal
Exec=foot --app-id foot-music-ncmpcpp -e ncmpcpp
Icon=mpd
Terminal=false
Categories=Audio;AudioVideo;Player;
Keywords=music;mpd;ncmpcpp;musica;
