[Desktop Entry]
Type=Application
Name=PyRadio
GenericName=Internet Radio
Comment=Radio por internet en terminal
Exec=foot --app-id foot-music-pyradio -e /usr/bin/pyradio --theme catppuccin-macchiato --use-player mpv
Icon=/usr/share/icons/pyradio.png
Terminal=false
Categories=Audio;AudioVideo;Player;
Keywords=music;radio;pyradio;musica;
