[Unit]
Description=Clipboard history daemon for Sway
PartOf=sway-session.target
After=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch /usr/bin/cliphist store
Restart=on-failure

[Install]
WantedBy=sway-session.target
