[Unit]
Description=Day/night gamma adjustments for Wayland compositors
PartOf=sway-session.target
After=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/wlsunset -l -34.6 -L -58.4 -t 4500 -T 6500
Restart=on-failure

[Install]
WantedBy=sway-session.target
